<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Charie</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="menu">
        <nav>
            <a href="/">Home</a> |
            <a href="/maker">Character maker</a> |
            <a href="/library">Character library</a> |
            <a href="/profile"> Profile</a> |

            
        </nav>
    </div>


</body>
</html>